body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  margin: 0;
}

.container {
  background-image: url(Pics/Background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* //////////////////////// Navbar ///////////////////////// */

.NavBar {
  background-color: white;
  position: fixed;
  height: 100vh;
  width: 100%;
  display: none;
}

.NavBar a {
  color: #278638;
  padding: 2rem 0 0 3rem;
  text-decoration: none;
  font-size: 2rem;
  display: block;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: end;
}

.menu button {
  margin: 0 2rem 0 0;
  padding: 0.4rem 0.4rem;
  background-color: transparent;
  border: none;
}

/* //////////////////////// Title ///////////////////////// */

.info {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 2rem;
  padding: 2rem 0 0 0;
}

.title {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #278638;
}

.title h2,
p {
  color: black;
}

.social {
  all: unset;
  display: flex;
  justify-content: center;
  list-style: none;
}

.social li {
  margin: 0 0.5rem;
}

/* //////////////////////// Recent works ///////////////////////// */

.Works {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 1rem 2rem;
  display: flex;
  justify-content: center;
  color: #278638;
  border-bottom: 0.3rem solid #f0c253;
}

.Works h2 {
  margin: 0;
}

/* //////////////////////// Cards ///////////////////////// */

.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 2rem;
}

.Cards section {
  background-color: rgb(39, 134, 56, 0.5);
  margin: 1rem;
  padding: 1rem;
  width: 20rem;
  height: auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #278638;
}

.card1 {
  width: 100%;
  background-color: #ebf0ee;
  text-align: center;
  height: auto;
}

.card2 {
  width: 100%;
  text-align: center;
}

.card3 {
  width: 90%;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.card3 li {
  padding: 0.2rem 0.5rem;
  background-color: #ebf0ee;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

.card4 button {
  margin: 2rem 1rem;
  padding: 12px;
  gap: 10px;
  background-color: #f0c253;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 4px;
  width: 150px;
  height: 45px;
  color: white;
}

/* //////////////////////// About ///////////////////////// */

.About {
  background-color: rgb(39, 134, 56, 0.5);
  margin: 1rem 2rem;
  padding: 1rem;
  display: flex;
  text-align: center;
  color: #278638;
  border-radius: 1rem;
  border-bottom: 0.3rem solid #f0c253;
}

.About button {
  width: 150px;
  margin-bottom: 1rem;
  padding: 12px;
  background-color: #36b37f;
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  border: 0;
  height: 50px;
  color: white;
}

/* //////////////////////// Skill cards ///////////////////////// */

.ACards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ACards h1 {
  color: #344563;
}

.ACards img {
  width: 90px;
}

.ACards-cont {
  width: 300px;
  height: 350px;
  padding: 1rem;
  text-align: center;
  background-color: rgb(39, 134, 56, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  border-radius: 1rem;
}

.ACards-cont2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ACards-cont2 li {
  background-color: rgba(240, 192, 81, 0.8);
  height: 40px;
  margin: 0.3rem;
  padding: 0 0.7rem;
  color: #344563;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
}

/* //////////////////////// Contact ///////////////////////// */

.ContForm {
  background-image: url(Pics/Background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(39, 134, 56, 0.5);
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ContForm p {
  background-color: rgb(39, 134, 56, 0.9);
  padding: 1rem 2rem;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
}

.contact {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.Fullname,
.EmailAddress {
  font-style: italic;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  height: 20px;
  padding: 1em;
}

.contact textarea {
  height: 114px;
  padding-top: 1em;
  padding-left: 1em;
  border: 1px solid #60c095;
  border-radius: 4px;
}

.formButton {
  height: 48px;
  width: 105px;
  background-color: #36b37f;
  border: none;
  border-radius: 4px;
  color: white;
  line-height: 24px;
  font-weight: 500;
  align-self: center;
}

/* //////////////////////// Footer ///////////////////////// */

.final {
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

/* //////////////////////// Pop-up ///////////////////////// */

.pop {
  position: fixed;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgb(39, 134, 56, 0.9);
}

.popFlex {
  background-color: #fff;
  margin: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeButton {
  width: 80%;
  top: 2.5rem;
  display: flex;
  justify-content: end;
  position: absolute;
}

.closeButton button {
  padding: 0.5rem;
  border: none;
  background-color: rgb(0, 0, 0, 0.5);
}

.projIma {
  margin-top: 3rem;
  width: 80%;
}

.items {
  width: 80%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.items h2 {
  margin: 0;
  color: #278638;
}

.popButton {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px 16px;
  gap: 12px;
}

.popButton button {
  background: #36b37f;
  border: 0.1px;
  border-radius: 4px;
  width: 135px;
  height: 48px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

@media screen and (min-width: 375px) {
  /*// NavBar //*/
  .menu button {
    margin: 1rem 3rem 0 0;
  }

  /*// Title //*/

  #barClose {
    width: 2rem;
  }

  #title-a {
    font-size: 2.5rem;
  }

  #title-c {
    font-size: 1.25rem;
  }

  /*// Works cards //*/

  .Cards {
    flex-wrap: wrap;
  }

  /*// Skill cards //*/

  .ACards {
    flex-wrap: wrap;
  }

}

@media screen and (min-width: 768px) {
  .container {
    height: 60vh;
  }

  .info {
    height: 60vh;
  }

  .ACards {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
  }

  .ACards-cont {
    margin: 1rem;
  }
}
