body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin: 0;
}

.container {
    background-image: url(Pics/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* //////////////////////// Navbar ///////////////////////// */

.NavBar {
    background-color: white;
    position: fixed;
    height: 100vh;
    width: 100%;
    display: none;
}

.NavBar a {
    color: #278638;
    padding: 2rem 0 0 3rem  ;
    text-decoration: none;
    font-size: 2rem;
    display: block;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: end;
}

.menu button {
    margin: 0 2rem 0 0;
    padding: .4rem .4rem;
    background-color: transparent;
    border: none;
}

/* //////////////////////// Title ///////////////////////// */

.info {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 2rem;
    padding: 2rem 0 0 0;
    
}

.title {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #278638;
}

.title h2, p {
    color: black;
}

.social {
    all: unset;
    display: flex;
    justify-content: center;
    list-style: none;
}

.social li {
    margin: 0 .5rem;
}

/* //////////////////////// Recent works ///////////////////////// */

.Works {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 1rem 2rem;
    display: flex;
    justify-content: center;
    color: #278638;
    border-bottom: .3rem solid #F0C253;
}

.Works h2 {
    margin: 0;
    
}

/* //////////////////////// Cards ///////////////////////// */

.Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2rem;
}



@media screen and (min-width: 375px) {
    
}